.navbar{
    background-color:rgba(0, 0, 1, 0.716);
    
}

#navbarNavAltMarkup a{
    color: rgb(243, 245, 245);
    font-size: 1.4rem;
    padding-left: 50px ;
   

}

.sr-only{
  color: aqua;
}

.img1{
    height: 3%;
    width:10%;
   
    margin: 1%;
}
#navbarNavAltMarkup {
  width: 100%;
  margin-left: 10%;
  display: flex;
   

}
.navbar-brand{
    color: rgb(244, 250, 250);
    margin: 0.5%;
    text-align: center;
    margin-left: 2%;
    font-size: 2rem;
}

.container {
    position: relative;
    max-width: 70%;
    width: 70%;
    text-align: center;
    height: 10vh;
    line-height: 1vh;
    background: #21181e;
    border-radius: 6px;
    color: rgb(246, 249, 249);
    box-shadow: 1px 1px 6px rgba(6, 230, 219, 0.3);
  }

  .word {
    font-size:1.5em;
    font-weight:bold;
    opacity:0;
    width: 100%;
    text-align: center;
  
  }

  @keyframes w1anim {
    0%{
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    20% {
      opacity:0;
    }
  }
  @keyframes w2anim {
    20%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    40% {
      opacity:0;
    }
  }
  @keyframes w3anim {
    40%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    60% {
      opacity:0;
    }
  }
  @keyframes w4anim {
    60%{
      opacity: 0;
    }
    70%{
      opacity: 1;
    }
    80% {
      opacity:0;
    }
  }
  @keyframes w5anim {
    80%{
      opacity: 0;
    }
    90%{
      opacity: 1;
    }
    100% {
      opacity:0;
    }
  }
  .w1 {
    -webkit-animation: w1anim 20s infinite;
            animation: w1anim 20s infinite;
  }
  .w2 {
    -webkit-animation: w2anim 20s infinite;
            animation: w2anim 20s infinite;
  }
  .w3 {
    -webkit-animation: w3anim 20s infinite;
            animation: w3anim 20s infinite;
  }
  .w4 {
    -webkit-animation: w4anim 20s infinite;
            animation: w4anim 20s infinite;
  }
  .w5 {
    -webkit-animation: w5anim 20s infinite;
            animation: w5anim 20s infinite;
  }

  
