<nav class="navbar navbar-expand-lg navbar-dark">
  <img  class="img1" src="../../assets/ezgif.com-gif-maker-removebg-preview.png" alt="" srcset="">
    

  <div class="container">
    <div class="navbar-brand ">
    <div class="word w1">Atarah</div>
    <div class="word w2">Github</div>
    <div class="word w3"> Search</div>
    <div class="word w4"> Start</div>
    <div class="word w5"> Searching</div>

                
    </div>
  </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="profile"routerLinkActive='active'>Github Profile<span  class="sr-only">(MyProfile)</span></a>
        <a class="nav-item nav-link"routerLink="repositories"routerLinkActive='active'>Github Repositories</a>
      </div>
    </div>
  </nav>
