#navy{
    height: 9vh;
    
}

input::placeholder{
    color: black;
    
}

.container{
    background-color: rgb(26, 23, 27);
}
.searchBar{
  
 padding-left: 20%;
}

input{
    padding: 20px;
    max-width: 100%;
    width: 50%;
    height: 50%;
}