#following, #followers {
    color: aqua;
    font-size: 1.3rem;
    margin-top: 2%;
    margin-left: 14%;
    
    

}

h3{
    color: rgb(236, 250, 250);
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

#image{
   
    float: right;
   
    
}


#username{
    color: rgb(247, 253, 253);
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 13%;
    margin-left: 10%;
    display: block;
   
    
}

.card{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    box-shadow: 0 15px 25px rgba(30, 30, 30, 0.2);
    height: 100%;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(10, 240, 236, 0.2);
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    
}

h4 a{
    color: aqua;
    font-size: 2rem;
    text-decoration: none;
}
