/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Gabriela:wght@400;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url('./assets/06b3FMA.jpg');
    background-color: black;
    background-repeat: repeat-y;
    background-position: fixed;
    background-size: auto;
    font-family: 'Gabriela', sans-serif;
   

   
}
footer{
    background-color: black;
    padding: 1%;
    margin-top: 3%;
}


